$images: (
	sprite: (width: 104px, height: 84px, altPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
 	facebook: (width: 10px, height: 22px, backgroundX: 0px, backgroundY: -42px),
 	twitter: (width: 32px, height: 22px, backgroundX: 0px, backgroundY: 0px),
 	twitterHover: (width: 32px, height: 22px, backgroundX: -52px, backgroundY: 0px),
);
